<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="classes" thread-count="2">

    <test name="Smoke Tests">
        <classes>
            <class name="runners.SmokeTestRunner"/>
        </classes>
    </test>

    <test name="Regression Tests">
        <classes>
            <class name="runners.RegressionTestRunner"/>
        </classes>
    </test>

</suite>
